[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
.idea/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

[Dd]ebug/
[Rr]elease/
x64/
x86/

node_modules/
.npm/
.yarn/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.angular/

dist/
out-tsc/

coverage/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
Thumbs.db
